<div class="footer">
    <div class="container">
        <!--container-start-footer-->
        <div class="row">
            <div class="col-md-3">
                <!--links-start-->
                <div class="links">
                    <div class="contact">
                        <h3>Contact Info</h3>
                    </div>
                    <div class="email">
                        <h4>Email 24x7 Support</h4>
                        <p><a herf="#">support@avizarinfo.com</a></p>
                        <p>
                            <a herf="#"></a>
                        </p>
                    </div>
                    <div class="customercare">
                        <h4>24x7 Support </h4>
                        <p>Toll Free:+1 844 874 5244</p>
                    </div>
                    <div class="timing">
                        <h4>Working Hours</h4>
                        <p>Monday to Firday: 8:00 AM To 8:00 PM <br />Saturday & Sunday-10:00 AM To 6:00 PM</p>
                    </div>
                    <div class="address">
                        <h4>Registered Address</h4>
                        <p>160 Kemp House, City Road, London,<br /> United Kingdom, EC1V 2NX</p>
                    </div>
                </div>
            </div>
            <!--links-end-->
            <div class="col-md-3">
                <!--useful-start-->
                <div class="Useful">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a routerLink="Translation">Translation to Any Language</a></li>
                        <li><a routerLink="development">Web-Development</a></li>
                        <li><a routerLink="pcsupport">PC Support</a></li>
                        <li><a routerLink="lets">Let's Talk</a></li>
                        <li><a routerLink="about">About Us</a></li>
                        <li><a routerLink="refund">Refund Policy</a></li>
                        <li><a routerLink="term">Term & Conditions</a></li>
                        <li><a routerLink="privacy">Privacy Policy</a></li>
                        <li><a routerLink="contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <!--useful-end-->
            <!--<div class="col-md-3">
                        <div class="Industries">
                            <h3>Industries Served</h3>
                            <ul>
                                <li><a href="#">Medical / Healthcare</a></li>
                                <li><a href="#">Aerospace / Automative</a></li>
                                <li><a href="#">Travel / Tourism</a></li>
                                <li><a href="#">Marketing / Advertisement</a></li>
                                <li><a href="#">Business Translation</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">Legal</a></li>
                            </ul>
                        </div>
                    </div><!--Industries-end-->
            <div class="col-md-3">
                <!--connect-start-->
                <div class="connect">
                    <h3>Connect With Us</h3>
                    <ul>
                        <li>
                            <a href="https://business.facebook.com/AvizarInfoServices/?business_id=1729039870701170"><img src="/content/images/footer/facebook.jpg" alt="Facebook" />Facebook</a>
                            <li>
                                <a href="https://twitter.com/avizarinfo"><img src="/content/images/footer/twitter.jpg" alt="Twitter" />Follow @Avizarinfo</a>
                            </li>
                            <li><span id="siteseal" style="background: white;position: absolute;width: 135px;margin-right: 0px;padding-right: 0px;padding-left: 1px;"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=LmiLCeFoi9rTpLIVf3zsk2xokFsnhvPtl1BbUcTrvK3ayEb1W4finJIpGR2a"></script></span></li>
                            <!--Chat button will appear here-->
                            <li>
                                <div id="MyLiveChatContainer" style="position:relative; top:45px;"></div>
                            </li>
                    </ul>
                </div>
            </div>
            <!--connect-end-->
        </div>

        <div class="payment-option">
            <!--payment-option-start-->
            <h4>We Accepts</h4>
            <ul>
                <li><img src="/content/images/footer/visa.png" /></li>
                <li><img src="/content/images/footer/master.png" /></li>
                <li><img src="/content/images/footer/AMEX.png" /></li>
                <li><img src="/content/images/footer/discover.png" /></li>
                <li><img src="/content/images/footer/PayPal1.png" /></li>
                <li><img src="/content/images/footer/Maestro.png" /></li>
                <li><img src="/content/images/footer/Western Union.png" /></li>
            </ul>
        </div>
        <!--payment-option-end-->
        <div class="copyright">Copyright 2017 &copy Avizar Info Services. All Rights Reserved.<br />Design and Developed by <span><a href="webdev.html">Avizar Info Services</a></span></div>
    </div><!--container-end-->