<div class="container">
    <div class="navigation"><a href="index.html"><span class="glyphicon glyphicon-home"></span></a> » Translation</div>
</div>
<div class="service-container">
    <h2>Smart<span class="light"> Translation</span></h2>
</div>
<div class="container">
    <!--container-start-->
    <div class="row">
        <div class="col-md-4">
            <img src="/content/images/translation/business-icon.png" alt="Business Icon" class="img-responsive" />
            <h3>Business Translation</h3>
            <p>Our translation services caters to the need of rapidly growing small and medium businesses across the continents.</p>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/document-icon.png" alt="Document Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Document Translation</h3>
                <p>We provide document translation services for corporates, small and medium industries and individuals in over
                    200 languages.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/software-icon.png" alt="Software Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Software Localization</h3>
                <p>We provide localisation services for softwares and applications taking your product to the global market.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/website-icon.png" alt="Multilingual Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Multilingual Websites</h3>
                <p>To make your business global, give you an attractive multilingual website targeting every country.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/technical-icon.png" alt="Technical Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Technical Translation</h3>
                <p>Our native translators work with the field experts in translating technical text like user manuals, service
                    guides, etc.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/video-icon.png" alt="Video Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Video Transcription</h3>
                <p>Our team of professional video transcribers work around the clock to produce fast and accurate transcriptions.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/books-icon.png" alt="Books Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Books Translation</h3>
                <p>Smart Group Translate is second to none when it comes to translating books, novels, textbooks, articles,
                    catalogues, etc.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/language-icon.png" alt="Language Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Language Translation</h3>
                <p>Smart Group Translate has a wide network of native translators for more than 200 languages. View list of
                    languages here.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/magazine-icon.png" alt="Magazine Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Magazine Translation</h3>
                <p>Our team of translators understand the importance of accuracy when it comes to the translation of magazines.</p>
            </div>
        </div>
    </div>
    <div class="ind-exp">
        <h2><span class="idus-padding"><span class="blue">Industry</span> Expertise</span>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/medical-icon.png" alt="Medical Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Medical</h3>
                <p>Many hospitals and pharmaceuticals companies rely on our expertise to meet their translation needs.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/legal-icon.png" alt="Legal Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Legal</h3>
                <p>We have a well informed team of translators who have immense knowledge about the laws of all countries.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/finance-icon.png" alt="Finance Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Finance</h3>
                <p>Our native translators have the expertise of translating all kinds of financial documents in over 200 languages
                    .</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/auto-icon.png" alt="Aerospace & Automative Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Aerospace & Automative</h3>
                <p>Our aerospace and automotive experts work with the translators to provide you with the most accurate translations.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/travel-icon.png" alt="Travel & Tourism Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Travel & Tourism</h3>
                <p>We provide translation services to travel agencies and travellers for translation of maps, brochures, guides,
                    etc.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="service-icon">
                <img src="/content/images/translation/market-icon.png" alt="Marketing & Advertisement Icon" />
            </div>
            <div class="thumb-cont">
                <h3>Marketing & Advertisement</h3>
                <p>We work round the clock to provide you with the most accurate translation of your marketing and advertisement
                    material.</p>
            </div>
        </div>
    </div>
    <div class="transprocess">
        <h2 class="text-center">Translation Process</h2>
        <img src="/content/images/translation/TranslationProcessV2.png" class="img-responsive" />
    </div>
</div>
<!--container-end-->