<div class="container">
    <div class="navigation">
        <a href="index.html"><span class="glyphicon glyphicon-home"></span></a> » About Us
    </div>
    <div class="About">
        <h3 class="text-center">"Our Aim to Bring Everyone closer"</h3>
        <hr class="btn-primary" />
        <div class="about-Avizar's">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Avizar Info</h2>
                    <p class="text-center">Avizar Info is a Avizar Info Services Private Limited. We are based in London,UK and India. But we do
                        work in UK, USA & Canada.</p>
                </div>
            </div>
        </div>
        <div class="about-dev">
            <!--start-about-devlopment-->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">About Avizar Info | Web-Development</h2>
                    <p>
                        Avizar's Services is prominent name in IT sector availing amazingly excellent IT solutions throughout the world. While talking
                        about great quality services in online marketing, website designing & development, mobile application
                        development, multimedia services, ERP solution, business application development, maintenance of
                        websites and others solutions and many others, Avizar's Services technology leads the world.
                    </p>
                    <br>
                    <p>
                        We possess latest available and usable technologies and tools for every domain. Latest and newest gadgets and methodologies
                        are used here to avail our clients with the best and latest solution. Other than this we also have
                        teams of highly experienced and knowledgeable professionals having great expertise in their domain
                        in order to deliver robust and user friendly customizable solutions exactly according to the client
                        needs. We have made a mark for us very soon in the IT world by catering our clients with their needs
                        with perfection and maintained quality. Some basic needs of clients are our specialties including
                        high reliability, comprehensive accuracy, confidentiality, and many more. We are very true to our
                        commitments and our professionals avail continuity to clients ever. Our highly cost effective and
                        qualitative services provided us with complete client satisfaction and appreciation from them. We
                        are getting recommended by our clients because of the high class services offered.
                    </p>
                </div>
            </div>
        </div>
        <!--start-about-devlopment-->
        <div class="about-trans">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">About Avizar Info | Translation</h2>
                    <article>
                        Our portfolio includes translations in 200 languages We draw from a world-class team of experienced and talented language
                        professionals, including thousands of translators, industry-specific engineers, top-notch project
                        managers, IT, testing, and other specialists.<br><br> Our structured quality-centered
                        methodology is compliant with best practices and standards such as best company. With customers and
                        localization resources in six continents, Avizar's is known and trusted around the world for consistently
                        delivering high-quality results that are timely and cost-effective. <br><br> We are dedicated to
                        providing language services of the highest quality at competitive prices.To demonstrate this commitment,
                        Avizar's guarantees that the translations and localized products we offer are of the highest quality
                        available anywhere in the world. customers' repeat business is our greatest measure of success.<br><br>                        At Avizar's, our team provides translation services in formats such as Dreamweaver, Pagemaker,In-Design,
                        MS Word, Power Point, HTML and Trados.<br><br> Our multilingual transcription service uses expert
                        transcribers to carry out work quickly and accurately, tailoring the way they work to the exact requirements
                        of each individual client.Our transcribers are talented linguists with an ear for nuance, and that
                        means the finished transcript will be as faithful and accurate as it can be <br> <br>We’re capable
                        of working with projects of all sizes, from mere seconds of speech through to far more extensive
                        or ongoing projects and we’re happy to work with audio in a wide range of formats.
                    </article>
                </div>
            </div>
        </div>
        <div class="about-longdis">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">About Avizar Info | Long Distance Services</h2>
                    <p>
                        Avizar's Long Distance serivces was born in 2016, aiming to bring people closer. We are offering cheap calls, to your loved
                        ones, in different countries. You can make, high quality cheap phone calls and do cheap video conferencing,
                        from your Avizar's to your loved one’s Avizar's. Avizar's calls are in HD quality and often offer
                        better sound quality, than other carrier networks.
                    </p>
                    <br />
                    <p>
                        Avizar's has a brilliant team, which is working hard to bring you the best quality in voice service and video conferencing.
                        We value your money that’s why we are offering cheapest international calls anywhere around the world.
                    </p>
                    <h4>Avizar's's goal is to:</h4>
                    <ul>
                        <li>Always give customers the value for their money.</li>
                        <li>Make sure, all our calls are, of great quality.</li>
                        <li>Make our products easy-to-use and keep our rates cost-effective.</li>
                        <li>
                            Make sure, all our relationships are built on trust and understanding of what ourcustomers really want and what they want
                            is, just not about calls. It is about, bonding with their loved ones.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>