<div class="middle-wrapper">
    <!--middle-wrapper-start-->
    <div class="black-trans-1">
        <!--black-trans.a-start-->
        <div class="container">
            <div class="services">
                <!--services-start-->
                <h1 class="text-center">Our Perfect Services</h1>
                <div class="row" id="middle-images">
                    <!--row-start-->
                    <div class="col-md-4">
                        <!--web-design-start-->

                        <h2 class="text-center" id="web-dev">Web-Development</h2>
                        <p>
                            Creative Avizar assures to serve as an expertise in the field of custom Website Designing, Website Development, Website Maintenance,
                            Website Redesigning, Multimedia Presentations, e-commerce Web Development.
                        </p>
                        <div class="text-center" style="margin-bottom: 10px;"><a href="#" class="btn btn-success">KNOW MORE</a></div>
                    </div>
                    <!--web-design-end-->
                    <div class="col-md-4">
                        <!--calling-start-->

                        <h2 class="text-center" id="calling">Calling Services</h2>
                        <p>
                            Avizar has a brilliant team, which is working hard to bring you the best quality in voice service and video conferencing.
                            We value your money that’s why we are offering cheapest international calls anywhere around the
                            world.
                        </p>
                        <div class="text-center" style="margin-bottom: 10px;"><a href="#" class="btn btn-success">KNOW MORE</a></div>
                    </div>
                    <!--calling-end-->
                    <div class="col-md-4">
                        <!--translation-start-->

                        <h2 class="text-center" id="translation">Translation</h2>
                        <p>
                            Avizar offering Multiple Global 1000 corporations, small businesses and government institutions depend on Avizar’ professional
                            translations to deliver accurate and high-quality document translation services.
                        </p>
                        <div class="text-center" style="margin-bottom: 10px;"><a href="Translation.html" class="btn btn-success">KNOW MORE</a></div>
                    </div>
                    <!--translation-end-->
                </div>
                <!--row-start-->
            </div>
            <!--services-end-->
        </div>
        <!--container-end-->
    </div>
    <!--black-trans.a-end-->
</div>
<!--middle-wrapper-end-->

<div class="container-fulid">
    <div class="support">
        <div id="support-1">
            <div class="lower_section inside_middle_page clearfix">
                <div class="wrapper">
                    <div class="features_section clearfix">
                        <h2>24/7 Instant Support</h2>
                        <h4>Technology may often let you down. Our Web-Developers experts never will.</h4>
                        <p><span>Well, simply put we take the worry out of your digital world. We can help you to create a new website<br> for your business, hook up your digital camera, or even get to grips with your iPod. No job is too big or small for us.</span></p>
                        <div class="clearer"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0px;">
                <div class="col-md-5">
                    <div class="web-img"><img src="/content/images/home/slide3.png" class="img-responsive" /></div>
                </div>
                <div class="col-md-6 feature_right_panel">
                    <ul>
                        <li>Flexibility to choose from a variety of subscription plans.</li>
                        <li>Zero waiting time with instant access to technicians.</li>
                        <li>Both remote and on-site support.</li>
                        <li>24x7 consistent support round-the-year.</li>
                        <li>One of the highest customer satisfaction ratings in the industry.</li>
                    </ul>
                    <p style="margin-left: 10px;">If you have a Development question or a problem at any time, just one click on <br>the live chat tool
                        will instantly connect you to one of our experts. Alternately, you can even speak to a expert
                        on our toll free number.</p>
                    <div class="temp_hide_tab">
                        <h4 style="margin-left: 10px;">Call Us Now <span>+1 844 874 5244</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>