<div class="container">
    <div class="refund text-center">
        <h3>Avizar's Refund Policy</h3>
    </div><br>
    <article>
        The Subscription Based Plans are only refundable within 15 days of subscription. However, subject to pure judgment of company
        management upon virtues of an individual case, payment would be fully refunded if for any reason you are not completely
        satisfied with the our service, we will try and make every effort to resolve the issue. If in case you are still
        not satisfied with the same, we offer a money back policy as follows:
        <br><br>
        <strong>We have a 15 days money back policy with following terms and conditions.</strong>
        <strong>For Subscription Based Plans</strong><br>
        <ul style="list-style:square;">
            <li>100% of plan price will be refunded back, if claimed within 15 calendar days of subscribing the plan.</li>
            <li>No refund after 15 calendar days of subscribing the plan.</li>
        </ul><br>
        <strong>Refunds only are accepted, when any of the following criteria’s are met</strong>
        <ul style="list-style:square;">
            <li> You have all the essentials which were required to resolve the problem and Issue was not resolved till the time
                account was active.</li>
            <li> The issue is out of scope for the particular plan.</li>
            <li> 15 days have not passed after the issue was last worked upon by the technician.</li>
            <li> There has not been a closed ticket or resolved issue in the past for unlimited plans.</li>
        </ul><br>
        <strong><u>USER RESPONSIBITY (VERY IMPORTANT)</u> </strong><br>
        <strong>In connection with obtaining Services, you agree that you will:</strong>
        <br>
        <ul style="list-style:square;">
            <li>
                Cooperate with the Our Technician: We will use commercially reasonable efforts to provide the support to you. Our experience
                shows that most issues can be corrected as a result of close cooperation between you and the technician.
                Please listen carefully to the technician and follow the technician's instructions. You must confirm that
                the following conditions are true:
            </li>
            <li>
                The situation giving rise to the question is, reproducible on a single system, i.e., one central processing unit with its
                workstations and other peripherals;
            </li>
            <li>
                You must have knowledge regarding the hardware system, any software involved, and in the facts and circumstances surrounding
                the incident;
            </li>
            <li>
                The full system, including software and hardware, is available to you and accessible by you without limit during any telephone
                discussions with our support personnel.
            </li>

            <li>
                Software/Data Backup: You understand and agree that our tech person or support executive shall under no circumstance be responsible
                for any lost or corrupted software or data. We strongly recommends that you at all times maintain a complete
                data backup and disaster recovery plan.
            </li>

            <li>
                Account, Password, and Security: For you to submit a Plan Order, you must complete the Registration Process by providing
                us with current, complete and accurate information as prompted by and required under the applicable Registration
                Form. You also will choose a password and a user name. You are solely and entirely responsible for maintaining
                the confidentiality of your password and account.
            </li>
            <li>
                Furthermore, you are solely and entirely responsible for any and all activities that occur under your account. You agree
                to notify our experts immediately of any unauthorized use of your account or any other breach of data security.
                Our experts will not be liable for any loss that you may incur as a result of someone else using your password
                or account, either with or without your knowledge.
            </li>
            <br>
        </ul>
        <strong>DATA BACKUP </strong>
        <br> You are solely responsible for maintaining and backing up all information related to data, text or other material
        s (customer data) and software stored on your computer and storage media before ordering the services. You acknowledge
        and agree that info@avizarinfo.com or its referrals partners have no responsibility or liability under any circumstances
        at any time for any loss or corruption of customer data, software or hardware that may arise out of the services.
        <br>
    </article>
</div>