<div class="container">
    <div class="refund text-center">
        <h3>Avizar's Privacy Policy</h3>
    </div><br>
    <p>This Privacy Policy governs the manner in which Avizar Info Services collects, uses, maintains and discloses information
        collected from users (each, a 'User') of the http://avizarinfo.com website 'Site'. This privacy policy applies to
        the Site and all products and services offered by Avizar Info Services.</p>
    <br>
    <p>
        All the Information collected and used by Avizar Info Services is governed by Avizar Info Services privacy policy, which
        is available at http://avizarinfo.com . This Agreement incorporates the Avizar Info Services privacy policy. By accepting
        this Agreement, Subscriber is also acknowledging that he has read, understands and agrees to the privacy policy.<br>
    </p>
    <br>
    <p>
        Avizar Info Services representative may need to download, run, or use software on the Subscriber's computer to assist in
        diagnosing and resolving computer problems. Such software may include toolbars, utilities, and other tools that allow
        Avizar Info Services to improve computer performance and solve technical problems (collectively, the Diagnostic Software").
        The use of all Diagnostic Software is subjected to the license agreements and terms and conditions associated with
        the Diagnostic Software. Subscriber shall be bound by all such license agreements.<br>
    </p>
    <br>
    <p>
        Avizar Info Services may monitor and record the Services, including any online sessions. These recordings are primarily for
        improving customer service, internal training, and internal market research. Avizar Info Services may disclose these
        recordings and any other information to satisfy any law, regulation or other governmental request, to operate the
        services properly, or to protect ourselves and/or Avizar Info Services' customers.<br>
    </p>
    <br>
    <h4><strong>Session Record</strong></h4>
    <p>
        Avizar Info Services reserves the right to monitor on-line and off-line sessions between user and a Technical Support Executive
        for quality control of the Service provided to the Customer by Technical Support Executive. In addition, we may record
        on-line and off-line sessions conducted on the Web site for user reference and to assist in resolution of disputes
        and/or potential complaints. The session records will also be used to improve the Service, build a support knowledge
        base, and/or conduct internal market research. <br>
    </p>
    <br>

    <h4><strong>Personal Identification Information</strong><br></h4>

    <P>
        We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users
        visit our site, place an order, fill out a form, and in connection with other activities, services, features or resources
        we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone
        number, credit card information, and social security number. Users may, however, visit our Site anonymously. We will
        collect personal identification information from Users only if they voluntarily submit such information to us. Users
        can always refuse to supply personally identification information, except that it may prevent them from engaging
        in certain Site related activities.
    </P>
    <br>

    <h4><strong>Payment Process Information</strong><br></h4>
    <p>
        Once customer registers to use our Service, we will collect credit card information, and other payment information that is
        necessary for completing the payment process. Avizar Info Services may use third party to process and verify credit
        cards for billing purposes. This requires us to share user name, credit card number, expiration date and billing
        address with the credit card processing company. When processing a payment transaction, Avizar Info Services will
        also obtain information regarding the amount of the payment and other transaction data. We may transfer or disclose
        this payment information to a third party only to the extent necessary in order to complete the payment processing.
    </p>
    <br>
    <h4><strong>Form of Information </strong><br></h4>
    <p>
        This Policy applies to information that is obtained by Avizar Info Services whether through electronic or print communications.
        Avizar Info Services respects your privacy and is committed to protect the personal information that you share with
        us. Avizar Info Services requests certain Personal Information as identified herein. Do not provide Avizar Info Services
        with additional Personal Information unless you are requested to do so.
    </p>
    <br>
    <h4><strong> Computer Information</strong></h4>
    <p>
        Avizar Info Services may require information about the date of purchase of your computer, type of computer, identification
        number of your computer, make and model of your computer and/or any computer hardware, software or peripherals attached
        to it, condition of the computer, system and registry data about software installations and hardware configurations,
        and error tracking files. This kind of information will be helpful to provide better technical support as per your
        preference.<br> To resolve your problem you may request technician to take control of your computer .Avizar
        Info Services uses qualified online tools which allow user to grant control of user computer to an expert remotely
        over the Internet, so that the expert can diagnose or correct problems. Experts are not allowed to take remote access
        of your computer without your consent neither they will obtain confidential or sensitive information stored on your
        computer or network or destroy information from your computer or network. Our experts may use online diagnoses application
        to collect useful information about the state of a computer system and the applications on it. This information is
        packaged into a document containing all the essential details needed by Avizar Info Services and is sent securely
        over the Internet to the Avizar Info Services server or a third party server appointed by Avizar Info Services. Avizar
        Info Services analyzes this information to help diagnose and solve end-user problems. Information collected by the
        Avizar Info Services application will not contain any sensitive information such as Web sites visited, e-mail messages,
        e-mail addresses sent to, passwords, profiles, etc.<br> Use of the Remote Access and Diagnoses applications is also
        subject to the terms of use in the respective software license agreements.
    </p>
</div>