<div class="container">
    <!--container-Start-->
    <div class="seroffer">
        <!--seroffer-start-->
        <div class="navigation"><a href="index.html"><span class="glyphicon-home"></span></a> » Web-Development</div>
        <h2 class="text-center">Development Services We Are Offering!</h2>
        <br>
        <div class="ser_offer">
            <!--ser_offer-start-->
            <div class="row text-center">
                <!--First-row-start-->
                <div class="col-md-3">
                    <img src="/content/images/development/web_application_development.png" class="img-responsive" />
                    <h3>Web App Development</h3>
                    <p>
                        We have been building up web apps for over a decade, ranging from education to stock management, complex apps to shopping
                        carts, etc. We have built up applications for almost every domain.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/search_engine_optimization.png" class="img-responsive" />
                    <h3>Search Engine Optimization</h3>
                    <p>
                        In today's competitive world, ranking well in Google is the most important need of the highly competitive world. We (The
                        Top Most SEO Company) will smoothly guide you through to the Top Ranks.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/website_designing.png" class="img-responsive" />
                    <h3>Website Designing</h3>
                    <p>
                        We create designs that make our customer's say - Wow! Website Designing is the most crucial part of a company's online marketing
                        portfolio nowerdays. Bringing your ideas to life is our main forte.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/social_media_marketing.png" class="img-responsive" />
                    <h3>Social Media Marketing</h3>
                    <p>
                        Social media marketing commonly known as SMM ha a vast paradigm ranging from creating compelling content to getting connected
                        on the Social networking sites like Facebook, Google+, Twitter, etc.
                    </p>
                </div>
            </div>
            <!--First-row-end-->
            <br>
            <div class="row text-center" id="corporate">
                <!--second-row-start-->
                <div class="col-md-3">
                    <img src="/content/images/development/corporate_identity.png" />
                    <h3>
                        <Span>Corporate</Span> Branding
                    </h3>
                    <p>
                        Your business identity and promoting the brand name & its services are the most important medium of conveying your message.
                        We design strategies after completely understanding your business needs.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/website_hosting.png" />
                    <h3><span>Website</span> Hosting</h3>
                    <p>
                        Without hosting, no one can see your web presence. Our vast experience has helped us offer scalable and reliable hosting
                        plans promising unmatched performance and value for money.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/content_writing.png" />
                    <h3><span>Content</span> Writing</h3>
                    <p>
                        Professionaly well written content is the most important message that you must send to your customers nowerdays. We at WEB
                        SEEKERS offer fresh, unique and optimized content for your website.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/content/images/development/website_maintenance.png" />
                    <h3><span>Website</span> Maintenance</h3>
                    <p>
                        Your website shouldn’t come second for your Business or Profession. It needs the utmost attention in this Speedily moving
                        Online Environment. And to stay updated Website maintenance is a must these days.
                    </p>
                </div>
            </div>
            <!--second-row-end-->
        </div>
        <!--ser_offer-end-->
    </div>
    <!--Seroffer-end-->
</div>
<!--Container-end-->
<div class="development-pro">
    <!--development-Pro-start-->
    <div class="container">
        <!--container-start-->
        <h2 class="text-center">The Website Development Process!</h2>
        <div class="row">
            <div class="col-md-3">
                <h4><span>1st</span><br>Information & Research</h4>
                <p>
                    This is the strategy and planning phase of the design project where we guide our clients whats BEST for them and how to reach
                    that. And during this phase we communicate one on one with our Clients to let them know whats best for
                    them and also to take inputs about what exactly and how they want it to work.
                </p>
            </div>
            <div class="col-md-3">
                <h4><span>2nd</span><br>Sketching & Designing</h4>
                <p>This is the execution stage of PHASE I where the Design Team works on designing some really smart options
                    for the company based upon the subject and inputs. The specifications and requirement arrived upon at
                    PHASE I is put to task first in the Design phase so that the main application or website design is arrived
                    at.</p>
            </div>
            <div class="col-md-3">
                <h4><span>3rd</span><br>Coding & Testing</h4>
                <p>One of the most important phases after Design is the Coding of the desired application using the latest standards.
                    During this phase efforts are made to ensure that the application is User Friendly and Easy to Expand.
                    And after Integration, final testing is done during this phase to ensure a Bug Free application is delivered.</p>
            </div>
            <div class="col-md-3">
                <h4><span>4th</span><br>Going Live!</h4>
                <p>In this PHASE, the application reaches the Client's Server. And then our Testing Team looks into any possible
                    bugs which might have been left out in the earlier process to ensure that a Quality Web Application is
                    delivered. And finally after clearing out all the Bugs the application codes and designs are handed over
                    to the client. </p>
            </div>
        </div>
    </div>
    <!--Container-end-->
</div>
<!--development-Pro-end-->
<div class="top-pack">
    <h2 class="text-center">The Top Selling Packages @ Avizar's</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 style="padding-right: 27px;">Mobile Responsive</h4>
                <p style="margin-bottom: 16px;">
                    6-8 Page Website with CMS Fully Mobile Responsive. Image Gallery with Secure Forms. in only<span>$ 249.95</span><br>One
                    Time Charges and Delivery Time - 30 Working Days.
                </p><br><br>
                <div class="btn btn-success" style="margin-top: -9px;">Buy Now</div>
            </div>
            <div class="col-md-3">
                <h4 style="padding-right: 38px; padding-left: 50px;">Shopping Cart</h4>
                <p style="margin-bottom:4px;">
                    Online Cart with CMS to manage. Manage Products, Brands, Stocks, etc. Fully Responsive, Easy to Manage. Only at <span> $ 849.95</span>                    with Hosting.Delivery Time - 45 Working Days and Hosting is valid for 60 Days.
                </p>
                <div class="btn btn-success" style="margin-top: -3px;">Buy Now</div>
            </div>
            <div class="col-md-3">
                <h4 style="padding-left: 96px; padding-right: 80px;">SEO</h4>
                <p style="margin-bottom: 10px;">
                    Promotion of upto 10 Phrases Submission of Blogs, Articles, PRs Submission of PDFs, Linkbaits in only <span>$ 449.95</span>                    with Free Reports <br>Delivery Time - 60 Working Days
                </p><br>
                <div class="btn btn-success" style="margin-top: 16px;">Buy Now</div>
            </div>
            <div class="col-md-3">
                <h4 style="padding-right: 47px;">Website Hosting</h4>
                <p>1000mb Web Space Hosting with 10000mb Bandwidth and upto 10 Email ids in only <span>$ 99.95</span> with Control
                    Panel for 2 Months.</p>
                <div class="btn btn-success"style="margin-top: 60px;">Buy Now</div>
            </div>
        </div>
    </div>
</div>
<div class="looking-web">
    <!--looking-web-start-->
    <div class="container">
        <h1 class="text-capitalize text-center">Looking out For A Website!!!</h1>
        <br>
        <p>Are you looking out for a website... Confused about the prices and features or your web hosting plan... Simply Get
            in Touch with us.</p><br>
        <div class="text-center" id="contact-button"><a href="contactus.html">Contact Us Now !</a></div>
    </div>
</div>
<!--looking-web-start-->