    <div class="container">
        <div class="pricing-header">
            <h1>Flexible plans with no surprises</h1>
            <h3>Choose the products and plans that work for you. Our pricing is flexible so you can get–and pay for–exactly what you need. No secret decoder ring required.</h3>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 pricing-1">
                <div class="pricing1_1">
                    <h2>Single Incident<br><b></b></h2>
                    <h4>
                        Cost Effective support for Computer,
                        Laptop & Peripherals
                    </h4>
                    <p>
                        Valid for 0-1 days<br>
                        Minimum wait time and highest resolution rate
                    </p>
                    <h1>$99</h1>
                    <article>System Protector, Remote Assistance, System Optimizer, PC Tune Up, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation and Virus removal</article>
                    <br />
                    <div class="text-center" style="margin-bottom: 10px; padding-top: 17px;"><button (click)="singleIncident()" class="btn btn-success">Buy Now</button></div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4 pricing-2">
                <h2>Three Incident<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-30 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$199</h1>
                <article>System Protector, Remote Assistance, System Optimizer, PC Tune Up, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal and Security Software. 1 month watch Back / Validity.</article>
                <br />
                <div class="text-center" style="margin-bottom: 10px; "><a href="#" class="btn btn-success">Buy Now</a></div>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 pricing-3">
                <h2>Silver<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-60 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$399</h1>
                <article>Unlimited Support, System Protector, Remote Assistance, System Optimizer, PC Tune Up, Proxy server, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal, 2 months watch Back / Validity.</article>
                <br />
                <div class="text-center" style="margin-bottom: 10px; padding-top: 86px;"><a href="#" class="btn btn-success">Buy Now</a></div>
            </div>
            <div class="col-md-4 col-md-offset-4 pricing-4">
                <h2>Gold Support<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-90 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$499.95</h1>
                <article>Unlimited Support, System Protector, Remote Assistance, System Optimizer, PC Tune Up, Proxy server, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal, Setting up drivers for printer and scanner resolution, Update printer drivers that includes USB Printer Driver for all types of printers, Make sure that different browsers works properly, Printer & Scanners installation, Fixing all basic printer errors such as printer spooling, network connectivity. 3 months watch back / Validity.</article>
                <br />
                <div class="text-center" style="margin-bottom: 10px;"><a href="#" class="btn btn-success">Buy Now</a></div>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 pricing-5">
                <h2>Platinum<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-90 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$699.95</h1>
                <article>Unlimited Support, System Protector, Remote Assistance, System Optimizer, PC Tune Up, Proxy server, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal, Setting up drivers for printer and scanner resolution, Update printer drivers that includes USB Printer Driver for all types of printers, Make sure that different browsers works properly, Printer & Scanners installation, Fixing all basic printer errors such as printer spooling, network connectivity. 3 months watch back / Validity</article>

                <br />
                <div class="text-center" style="margin-bottom: 10px;"><button class="btn btn-success" >Buy Now</button></div>
            </div>
            <div class="col-md-4 col-md-offset-4 pricing-6">
                <h2>Boost Up Pack<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-90 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$799.95</h1>
                <article>Unlimited Support, System Protector, Remote Assistance, System Optimizer, PC Tune Up, Proxy server, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal, Setting up drivers for printer and scanner resolution, Update printer drivers that includes USB Printer Driver for all types of printers, Make sure that different browsers works properly, Printer & Scanners installation, Fixing all basic printer errors such as printer spooling, network connectivity. 3 months watch back / Validity.</article>
                <br />
                <div class="text-center" style="margin-bottom: 10px;"><a href="#" class="btn btn-success">Buy Now</a></div>
            </div>
        </div><br /><br />
        <div class="row">
            <div class="col-md-4 col-md-offset-4 pricing-7">
                <h2>Boost Ever<br><b></b></h2>
                <h4>
                    Cost Effective support for Computer,
                    Laptop & Peripherals
                </h4>
                <p>
                    Valid for 0-90 days<br>
                    Minimum wait time and highest resolution rate
                </p>
                <h1>$999.95</h1>
                <article>Unlimited Support, System Protector, Remote Assistance, System Optimizer, PC Tune Up, Proxy server, Disk Defragmentation, Optimize the computer to boot faster, Fixing startup and configuration issue, Registry fixation, Virus removal, Setting up drivers for printer and scanner resolution, Update printer drivers that includes USB Printer Driver for all types of printers, Make sure that different browsers works properly, Printer & Scanners installation, Fixing all basic printer errors such as printer spooling, network connectivity. 3 months watch back / Validity.</article>

                <br />
                <div class="text-center" style="margin-bottom: 10px;"><a href="#" class="btn btn-success">Buy Now</a></div>
            </div>
        </div>
    </div>